<!doctype html>
<html>
<head>
<meta charset="UTF-8">
    <title>Ventil-APP</title>
    
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">    
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    
     <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">					</script>
      <script src="../js/index.js"></script>
</head>

<body>

	<!-- Nav-var fija superior -->
    <div id="topMenu"  style="padding:0px; width:100%;">
      <nav style="padding:0px; width:100%;">    
      	<div id="access options" class="form" style="padding:0px; width:100%;">      
     		 <ul class="tab-group" style="padding:0px; width:100%;">
      			  <li class="tab active" style="width:100%;"><a style="width:100%; text-align: left;"><b>VentilApp</b></a></li>
     		 </ul>
      	</div>
      </nav>
    </div>
    <!-- End Barra superior -->
    
    
    
    <!-- Principal (Vista)-->
    <label class="titulo">
            Ayuda para el usuario
        </label> 
        <div class="form-dispositivo">       		           
            <div class="tab-content">            
                <div id="signup" style="display: block;">
                    <h1>Con VentilApp podrás manejar los distintos ventiladores dentro de una misma red WiFi.<br><br>

En la pantalla principal encontrarás todos los dispositivos y podrás cambiar rápidamente su velocidad o su iluminación.<br>
Además, contarás con la posibilidad de agregar nuevos dispositivos o modificar los existentes.<br><br>

En la pantalla de perfiles, podrás establecer los valores por defecto para un grupo de ventiladores según la ocasión. Por ejemplo, podrás crear un perfil para noches de verano, tardes de calor, etc.</h1>
                </div>
            </div>
         </div>
    <!-- End Principal (Vista)-->

</body>
</html>
