<!doctype html>
<html>
<head>
<meta charset="UTF-8">
    <title>Ventil-APP</title>
    
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">    
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    
     <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">					</script>
      <script src="../js/index.js"></script>
</head>

<body>

	<!-- Nav-var fija superior -->
    <div id="topMenu"  style="padding:0px; width:100%;">
      <nav style="padding:0px; width:100%;">    
      	<div id="access options" class="form" style="padding:0px; width:100%;">      
     		 <ul class="tab-group" style="padding:0px; width:100%;">
      			  <li class="tab active" style="width:100%;"><a style="width:100%; text-align: left;"><b>VentilApp</b></a></li>
     		 </ul>
      	</div>
      </nav>
    </div>
    <!-- End Barra superior -->
    
    
    
    <!-- Principal (Vista)-->
    <label class="titulo">
    	Configuración de Perfiles
    </label> 
    <div class="periles">
	 	<div class="container">		 
		 	<div class="perfiles-section">	
            	<div class="perfiles-list">	
                <!-- 
                	Faltan boton editar y eliminar en cada <li>, el editar
                    lleva a editar-dispositivo y eliminar salta pop-up confirmacion
                 -->		 
                 <ul>
                    <li class="uno"><a href="#">Dia Verano</a></li>
                    <li class="uno"><a href="#">Noche Verano</a></li>
                    <li class="uno"><a href="#">Dia Otoño</a></li>
                    <li class="uno"><a href="#">Noche Primavera</a></li>
                    <li class="uno"><a href="#">Dia Invierno</a></li>
                    <li class="uno"><a href="#">Noche Invierno</a></li>
                 </ul>   
                 </div>              	
			</div>
		</div>
	</div>
    <!-- End Principal (Vista)-->

</body>
</html>
