<!doctype html>
<html>
<head>
<meta charset="UTF-8">
    <title>Ventil-APP</title>
    
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">    
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    
     <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">					</script>
      <script src="../js/index.js"></script>
</head>

<body>

	<!-- Nav-var fija superior -->
    <div id="topMenu"  style="padding:0px; width:100%;">
      <nav style="padding:0px; width:100%;">    
      	<div id="access options" class="form" style="padding:0px; width:100%;">      
     		 <ul class="tab-group" style="padding:0px; width:100%;">
      			  <li class="tab active" style="width:100%;"><a style="width:100%; text-align: left;"><b>VentilApp</b></a></li>
     		 </ul>
      	</div>
      </nav>
    </div>
    <!-- End Barra superior -->
    
    
    
    <!-- Principal (Vista)-->    
    <label class="titulo">
    	Dispositivos
    </label> 
    <div class="dispositivos">
	 	<div class="container">		 
		 	<div class="disp-section">	
            	<div class="disp-list">			 
                 <ul>
                 <!-- 
                	Faltan boton editar y eliminar en cada <li>
                 -->
                    <li class="uno"><a href="#">Comedor 1 (Peabody F532)</a></li>
                    <li class="dos"><a href="#">Living 1 (Electrolux E233)</a></li>
                    <li class="uno"><a href="#">Cocina (Electrolux E499)</a></li>
                    <li class="dos"><a href="#">Comedor 2 (Philips P343)</a></li>
                    <li class="uno"><a href="#">Habitación 1 (Peabody F112)</a></li>
                    <li class="dos"><a href="#">Dormitorio 1 (Liliana L556)</a></li>
                 </ul>   
                 </div>              	
			</div>
		</div>
	</div>
        
        <button id="config" type="button" class="button tab button-circular">(Icono config)</button>
        <button id="agregar" type="button" class="button tab button-circular">(Icono +)</button>
        
        
    
    
    <!-- End Principal (Vista)-->

</body>
</html>
