<!doctype html>
<html>
<head>
<meta charset="UTF-8">
    <title>Ventil-APP</title>
    
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">    
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    
     <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">					</script>
      <script src="../js/index.js"></script>
</head>

<body>

	<!-- Nav-var fija superior -->
    <div id="topMenu"  style="padding:0px; width:100%;">
      <nav style="padding:0px; width:100%;">    
      	<div id="access options" class="form" style="padding:0px; width:100%;">      
     		 <ul class="tab-group" style="padding:0px; width:100%;">
      			  <li class="tab active" style="width:100%;"><a style="width:100%; text-align: left;"><b>VentilApp</b></a></li>
     		 </ul>
      	</div>
      </nav>
    </div>
    <!-- End Barra superior -->
    
    
    
    <!-- Principal (Vista)-->
    <label class="titulo">
            Editar Perfil
        </label> 
        <div class="form-nuevoPerfil">
       		<div class="tab-content">            
                <div id="signup" style="display: block;">
                    <form action="/" method="post">    
                        <div class="field-wrap">
                            <h1>Nuevo Nombre</h1>
                            <input type="text"/>                             	
                        </div>            
                    </form>
                </div>
            </div>
         </div>
         <label class="titulo">
			Dispositivos
         </label> 
         <div class="dispositivos">
	 	 <div class="container">		 
		 	<div class="disp-section">	
            	<div class="disp-list">			 
                 <ul>
                    <li class="uno"><a href="#">Comedor 1</a></li>
                    <li class="dos"><a href="#">Living 1</a></li>
                    <li class="uno"><a href="#">Cocina</a></li>
                    <li class="dos"><a href="#">Comedor 2</a></li>
                    <li class="uno"><a href="#">Habitación 1</a></li>
                    <li class="dos"><a href="#">Dormitorio 1</a></li>
                 </ul>   
                 </div>              	
			</div>
		 </div>
	</div>
    <!-- End Principal (Vista)-->

</body>
</html>
