<!doctype html>
<html>
<head>
<meta charset="UTF-8">
    <title>Ventil-APP</title>
    
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">    
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <link href="../../css/normalize.css" rel="stylesheet" type="text/css">
    
     <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">					</script>
      <script src="../../js/index.js"></script>
</head>

<body>

	<!-- Nav-var fija superior -->
    <div id="topMenu"  style="padding:0px; width:100%;">
      <nav style="padding:0px; width:100%;">    
      	<div id="access options" class="form" style="padding:0px; width:100%;">      
     		 <ul class="tab-group" style="padding:0px; width:100%;">
      			  <li class="tab active" style="width:100%;"><a style="width:100%; text-align: left;"><b>VentilApp</b></a></li>
     		 </ul>
      	</div>
      </nav>
    </div>
    <!-- End Barra superior -->
    
    
    
    <!-- Principal (Vista)-->    
    <div id="dispositivos" class="dispositivos">
    	<label class="subtitulo">Dispositivos</label>
        
        <li>
        	<ul>Comedor 1</ul>
        	<ul>Living 1</ul>
            <ul>Comedor 2</ul>
            <ul>Habitación 1</ul>
            <ul>Habitación 2</ul>
            <ul>Habitación 3</ul>
            <ul>Baño 1</ul>            
        </li>
        
        <button id="config" type="button" class="button tab button-circular">(Icono config)</button>
        <button id="agregar" type="button" class="button tab button-circular">(Icono +)</button>
        
        
    
    
    <!-- End Principal (Vista)-->

</body>
</html>
