<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Ventil-APP</title>
    
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">    
   <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    
     <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">					</script>
      <script src="../js/index.js"></script>
  </head>

  <body>
    
    
    <!-- Nav-var fija superior -->
    
    <!-- End Barra superior -->
    
    
    
    <!-- Principal (Vista)-->
    <div id="bienvenido" class="bienvenido-buttons"> 
    	<h1>Bienvenido</h1>
        <button id="ingresar" type="submit" class="button button-block">Ingresar</button>
        <button id="registrarse" type="submit" class="button button-block">Registrarse</button>
    </div>
        
    <!-- 
    
    <div id="dispositivos" class="dispositivos">
    	<label class="subtitulo">Dispositivos</label>
        
        <li>
        	<ul>Comedor 1</ul>
        	<ul>Living 1</ul>
            <ul>Comedor 2</ul>
            <ul>Habitación 1</ul>
            <ul>Habitación 2</ul>
            <ul>Habitación 3</ul>
            <ul>Baño 1</ul>            
        </li>
        
        <button id="config" type="button" class="button tab button-circular">(Icono config)</button>
        <button id="agregar" type="button" class="button tab button-circular">(Icono +)</button>
        
        
     -->
 
    <!-- End Principal -->
        
    
    <!-- Footer -->
    <div id="footer">
    
    </div>
    <!-- End Zocalo -->

    
    
    
  </body>
</html>
